@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

.app-container{
    display: grid;
    /* grid-template-areas: 
    "header header header"
    "sidebar content content"; */

    grid-template-areas: 
    "header header header"
    "wrapper wrapper wrapper";

    grid-template-rows: 60px 1fr;
    /* grid-template-columns: 2fr 10fr; */
    grid-gap: 10px;
    
}

.header{
    grid-area: header;
    background-color: #191919;
    padding-top: 20px;
    color: #EEEEEE;
    padding-left: 20px;
    font-size: 20px;
}

.sidebar{
    grid-area: sidebar;
    background-color: #282828;
    color: #EEEEEE;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

li{
    list-style-type: none;
}

.content{
    grid-area: content;
    color: #EEEEEE;
    background-color: #282828;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 992px; */
}

/* .userImg{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.userImg img{
    width: 200px;
} */

.user-zone{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 15px;
}

.wrapper{
    display: grid;
    width: 1140px;
    grid-area: wrapper;
    grid-template-areas: "sidebar content";
    /* grid-template-rows: 60px 1fr; */
    grid-template-columns: 2fr 10fr;
    /* margin: 0 auto; */
    margin: auto;
    grid-gap: 10px;
}

@media screen and (min-width: 320px){
    .sidebar{
        display: none;
    }
    .wrapper{
        grid-template-areas: "content content";
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    .sidebar{
        display: block;
    }

    .wrapper{
        grid-template-areas: "sidebar content";
        width: 1140px;
    }
}